:root {

  --link_color: #39f;
}

body {

  background: #0e1318;
  font-family: "Open Sans", sans-serif;
  color: #e6edf3;
  font-size: 18px;
  line-height: 32px;
  margin: 34px 0 0 0;
}

h1 {

  font-size: 32px;
  font-weight: normal;
  border-bottom: 1px solid #9aa6b2;
  margin: 0 0 32px 0;
  padding-bottom: 34px;
}

h1 a {

  color: inherit;
  text-decoration: none;
}

h1 a:hover {

  color: var(--link_color);
  text-decoration: none;
}

h2 {

  font-size: 32px;
  font-weight: normal;
  margin: 0 0 34px 0;
  padding: 2px 0 0 0;
}

#wrap {

  width: 800px;
  margin: auto auto 32px auto;
  border-bottom: 1px solid #9aa6b2;
  padding-bottom: 32px;
}

canvas {

  display: none;
  margin-top: 32px;
}

textarea {

  display: none;
}

a {

  color: var(--link_color);
  text-decoration: none;
}

a:hover {

  text-decoration: underline;
}
